<div class="container outer-form">
  <div class="form-data">
    <p>Title</p>
    <input type="text" placeholder="Enter your title..." #title>
  </div>
  <div class="form-data">
    <p>Slug</p>
    <input type="text" placeholder="Enter your slug..." #slug>
  </div>
  <div class="form-data">
    <p>Body</p>
    <input type="text" placeholder="Enter your body..." #body>
  </div>
  <div class="form-data">
    <p>Author</p>
    <input type="text" placeholder="Enter your author..." #author>
  </div>
  <!-- <button (click)="addPost(title.value,author.value,body.value,slug.value);title.value=''">Create post</button> -->
  <button (click)="addPost(title.value, author.value, body.value, slug.value)">Hello</button>

</div>